<ion-header no-border translucent>
    <ion-toolbar padding>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title text-capitalize> {{ titulo }} </ion-title>
        <ion-datetime slot="end" value="{{ fechaActual | date: 'yyy-MM-dd' }}" disabled></ion-datetime>

    </ion-toolbar>
</ion-header>