<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button color="primary" menu="primerMenu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<h2>Pagina en Construcción....</h2>

<ion-content>

</ion-content>