<ion-searchbar (ionChange)="buscar( $event )"></ion-searchbar>
<ion-list #lista>
    <ion-item-sliding *ngFor="let dato of datosFijos | filtro: textoBuscar: 'nombre'">

        <ion-item>
            <ion-label>
                <h3>{{ dato.nombre }}</h3>
                <p>{{ dato.centroCostos }}</p>
            </ion-label>
            <ion-label slot="end" text-right>
                {{ dato.codInmueble }}
            </ion-label>
        </ion-item>

        <ion-item-options side="end">
            <ion-item-option color="danger" (click)="borrar(dato)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
</ion-list>